# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mihau\Documents\OneDrive - Politechnika Łódzka\PRACE\Semestr 5\Sztuczna Inteligencja i Systemy Ekspertowe\Pietnastka\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
